@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/Roboto-regular.woff") format("woff");
  src: url("/fonts/Roboto-regular.woff2") format("woff2");
}